# Exercises - Tidy Data

1. Attendance Data  

Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.  

You should end up with something like this:  

 name  
 Billy    0.5250  
 Jane     0.6875  
 John     0.9125  
 Sally    0.7625  
 Name: grade, dtype: float64

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import env

def get_connection(db, user=env.username, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
tidy = pd.read_sql('SELECT * FROM attendance', 
                        env.get_connection('tidy_data'))

tidy.head()

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [16]:
tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   2018-01-01  4 non-null      object
 2   2018-01-02  4 non-null      object
 3   2018-01-03  4 non-null      object
 4   2018-01-04  4 non-null      object
 5   2018-01-05  4 non-null      object
 6   2018-01-06  4 non-null      object
 7   2018-01-07  4 non-null      object
 8   2018-01-08  4 non-null      object
dtypes: object(9)
memory usage: 416.0+ bytes

In [27]:
attendance_df = tidy[['Unnamed: 0', '2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08']]

attendance_df.columns = ['Name', '1', '2', '3', '4', '5', '6', '7', '8']

attendance_df = attendance_df.melt(id_vars=['Name'], var_name='att_perc', value_name='att')

attendance_df['att'].str.replace('P', '1').astype(int)

ValueError: invalid literal for int() with base 10: 'A'